<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <style>
      #obsolete-browser-cont{
        position:absolute;
        box-sizing:border-box;
        width:100%;
      }

      #obsolete-browser-alert{
        box-sizing:border-box;
        background-color:#f39797;
        padding:30px;
        text-align:center;
        font-size:1.5rem;
        width:90%;
        margin:20px auto;
        position:relative;
      }
      #obsoleteClose{
        position:absolute;
        top:8px;
        right:8px;
      }
    </style>
    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

  </body>
</html>
